build
CMakeCache.txt
CopyOfCMakeCache.txt
Makefile
cmake_install.cmake
**/core
**/out/**
.vs
samples/afmpub
samples/gbpub
*.pal
*.vni
samples/*.txt
/samples/bwsmall.txt.gz
/samples/baywatch-small.txt.gz
/CMakeFiles
/output.txt
/debug.json
/samples/gb1.txt.gz
/debug-win.json
/samples/jellyfish-3-mbps-hd-hevc.mkv
/samples/spagb_100b2s
/samples/spagb_100
/samples/gb_x265_b2s
/samples/st_161hc
/dmdreader
/test.bin
/samples/gbrules.json
spidump.txt
/samples/trn_174h.zip
/samples/trn_174h.cRZ
/samples/trn_174h
/samples/tronsingleframe.cRZ
/samples/tronsingleframe.cRP
/samples/tronsingleframe.cROM
